@import url(../utils/_mixins.scss);
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf);
}
body {
  margin: 0;
  font-family: "Roboto", "Arial", "Sans-serif";
}

@media screen and (min-width: 992px) {
  main {
    margin: 0 auto;
    width: 75%;
  }
}

h1, h2 {
  font-size: 26px;
  font-weight: 700;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::placeholder {
  opacity: 1;
}

/*KEYFRAMES*/
@keyframes loading-menu {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0turn);
    opacity: 1;
  }
  100% {
    transform: rotate(1turn);
    opacity: 1;
  }
}
@keyframes bg-opacity {
  0% {
    opacity: 0.1;
  }
  99% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.number--rounded {
  background-color: #9356DC;
  border-radius: 100%;
  color: #ffffff;
  padding: 8px;
  width: 16px;
  height: 16px;
  text-align: center;
  position: absolute;
  left: -15px;
}

.new {
  width: 80px;
  height: 20px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: center;
  padding: 6px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
}

/*ANIMATION SELECTION D'UN PLAT*/
.container-menu__element {
  position: relative;
}
.container-menu__element__price {
  transition: transform 400ms ease-in-out;
}
.container-menu__element__box {
  background-color: #99E2D0;
  height: 100%;
  width: 90px;
  border-radius: 0 20px 20px 0;
  transform: scaleX(0);
  transform-origin: 100%;
  transition: transform 400ms ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-menu__element__box > .fa-circle-check {
  color: #fff;
  display: inline-block;
  font-size: 30px;
  transform: rotate(-1turn);
  transition: transform 500ms ease-out;
}
@media screen and (min-width: 992px) {
  .container-menu__element:hover > .container-menu__element__box {
    transform: scaleX(1);
  }
  .container-menu__element:hover > .container-menu__element__box > .fa-circle-check {
    transform: rotate(0turn);
  }
  .container-menu__element:hover > .container-menu__element__price {
    transform: translateX(-90px);
  }
}
@media screen and (max-width: 992px) {
  .container-menu__element:active > .container-menu__element__box {
    transform: scaleX(1);
  }
  .container-menu__element:active > .container-menu__element__box > .fa-circle-check {
    transform: rotate(0turn);
  }
  .container-menu__element:active > .container-menu__element__price {
    transform: translateX(-90px);
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .container-menu__element:active > .container-menu__element__description > * {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*ANIMATION BOUTON COEUR*/
.card__heading__icon {
  position: relative;
}
@media screen and (min-width: 992px) {
  .card__heading__icon:hover > .card__heading__icon--bg {
    opacity: 1;
    transform: scale(1.05);
  }
}
@media screen and (max-width: 992px) {
  .card__heading__icon:active > .card__heading__icon--bg {
    opacity: 1;
    transform: scale(1.05);
  }
}
.card__heading__icon--bg {
  opacity: 0;
  transform: scale(0);
  transition: opacity 500ms, transform 500ms linear;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

/*ANIMATION CHARGEMENT EN CASCADE*/
.container-menu > .menu-entrees {
  opacity: 0;
  transform: translateY(-30px);
  transform-origin: top;
  animation: loading-menu 1000ms 200ms;
  animation-fill-mode: both;
}
.container-menu > .menu-plats {
  opacity: 0;
  transform: translateY(-30px);
  transform-origin: top;
  animation: loading-menu 1000ms 700ms;
  animation-fill-mode: both;
}
.container-menu > .menu-desserts {
  opacity: 0;
  transform: translateY(-30px);
  transform-origin: top;
  animation: loading-menu 1000ms 1200ms;
  animation-fill-mode: both;
}

/*LOADING SPINNER*/
.main-index {
  opacity: 1;
  animation: bg-opacity 2000ms 100ms;
}

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 20%;
  border: solid 10px #9356DC;
  z-index: 2;
  opacity: 0;
  animation: spinner 1000ms 100ms ease-in-out;
  animation-iteration-count: 2;
}
@media screen and (max-width: 768px) {
  .loading-spinner {
    top: 10%;
  }
}
.loading-spinner::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/*HEADER*/
header {
  position: relative;
}
header .header__logo {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  header .header__logo {
    width: 300px;
  }
}
header .header__icon {
  font-size: 24px;
  color: #424242;
  position: absolute;
  left: 30px;
  top: 5px;
}

/*FOOTER*/
footer {
  background-color: #292929;
  padding: 10px 30px 30px;
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer p {
  font-family: "Shrikhand";
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  footer .footer__list {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  footer .footer__list li {
    margin-left: 60px;
  }
}
footer .footer__link {
  color: #fff;
  font-size: 18px;
  line-height: 2;
}
footer .footer__link--bold {
  font-weight: 600;
}
footer .footer__icon {
  color: #fff;
  width: 12px;
  height: 14px;
  margin-right: 20px;
}
footer .footer__icon--rotate {
  transform: rotate(-10deg);
}

.container {
  background-color: whitesmoke;
}
.container-loc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #e8e8e8;
  color: #424242;
}
.container-loc__form {
  margin-left: 20px;
  border: hidden;
  background-color: #e8e8e8;
  color: #424242;
  font-weight: 600;
  font-size: 18px;
  width: 150px;
}
.container-loc__form:focus {
  outline: none;
}
.container-loc__icon {
  font-size: 18px;
}
.container-explore {
  text-align: center;
  padding: 15px 30px;
}
.container-explore h1 {
  padding: 0 60px;
}
.container-explore p {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.container-explore__btn {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  border: hidden;
  padding: 15px 20px;
  font-size: 16px;
  font-family: "Roboto", "Arial", "Sans-serif";
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms;
  border-radius: 30px;
  box-shadow: 1px 2px 10px #c2c2c2;
  margin: 20px 0;
}
.container-explore__btn:hover {
  box-shadow: 1px 5px 30px #c2c2c2;
  opacity: 0.8;
}
.container-pres {
  background-color: white;
  margin: 40px 30px;
}
@media screen and (min-width: 992px) {
  .container-pres h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .container-pres__block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.container-pres__element {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 2px 10px #c2c2c2;
  margin: 20px 0;
  padding-right: 10px;
}
@media screen and (min-width: 992px) {
  .container-pres__element {
    width: 33%;
    margin: 0 20px;
    height: 80px;
  }
}
.container-pres__element:hover {
  background-color: #f2eafb;
}
.container-pres__element:hover > .container-pres__element__icon {
  color: #9356DC;
}
.container-pres__element__icon {
  margin: 0 30px 0 40px;
  width: 18px;
  color: #757575;
  font-size: 20px;
}
.container-restaurant {
  padding: 15px 20px 50px;
}
@media screen and (min-width: 992px) {
  .container-restaurant h2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .container-restaurant-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .container-restaurant-cards > * {
    flex: 1;
  }
}

.card {
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 20px;
  box-shadow: 1px 2px 10px #c2c2c2;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .card {
    width: 24%;
    margin: 10px;
    min-width: 300px;
  }
}
.card__img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: relative;
}
.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.card__heading {
  padding: 10px 15px;
  line-height: 0.6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__heading__icon {
  font-size: 30px;
  color: #000;
  margin-right: 10px;
  padding: 0;
}
.card__heading p {
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.container-img {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.container-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container-menu {
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  padding: 15px 20px 50px;
}
@media screen and (min-width: 992px) {
  .container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .container-menu {
    padding: 15px 10px 50px;
  }
}
.container-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-menu__heading h1 {
  font-family: "Shrikhand";
  font-size: 32px;
}
@media screen and (min-width: 992px) {
  .container-menu__heading h1 {
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container-menu__heading h1 {
    font-size: 28px;
  }
}
.container-menu__heading__icon {
  font-size: 30px;
  color: #000;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
}
.container-menu__block {
  margin: 40px 0;
}
@media screen and (min-width: 992px) {
  .container-menu__block {
    margin: 10px 0;
    width: 60%;
  }
}
.container-menu__block h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: black;
  font-weight: 600;
}
.container-menu__block h2 .bordered {
  border-bottom: solid 3px #99E2D0;
}
.container-menu__element {
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 2px 10px #c2c2c2;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  padding: 20px 30px 5px 15px;
}
@media screen and (max-width: 340px) {
  .container-menu__element {
    padding: 15px 15px 5px 15px;
  }
}
@media screen and (max-width: 320px) {
  .container-menu__element {
    height: 90px;
  }
}
@media screen and (min-width: 992px) {
  .container-menu__element {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container-menu__element__description h3 {
    font-size: 16px;
  }
}
.container-menu__element__description p {
  font-size: 16px;
  font-weight: 300;
  color: black;
}
@media screen and (max-width: 768px) {
  .container-menu__element__description p {
    font-size: 14px;
    font-weight: 300;
    color: black;
  }
}
@media screen and (max-width: 768px) {
  .container-menu__element__price {
    font-size: 16px;
    margin-left: 10px;
  }
}
.container-menu__btn {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  border: hidden;
  padding: 15px 20px;
  font-size: 16px;
  font-family: "Roboto", "Arial", "Sans-serif";
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms;
  border-radius: 30px;
  box-shadow: 1px 2px 10px #c2c2c2;
  margin: 20px 0;
  margin: 40px auto 20px;
  display: block;
  width: 200px;
}
.container-menu__btn:hover {
  box-shadow: 1px 5px 30px #c2c2c2;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
