@import "utils/_variables.scss";
@import "base/standards.scss";
@import "utils/mixins";
@import "components/components.scss";
@import "layouts/layouts.scss";


.container{
    background-color: $color-grey;

    &-loc{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darken($color-grey, 5);
        color: darken($color-grey, 70);
        font-weight: 600;
        font-size: 18px;

        p{
            margin-left: 20px;
        }        

        &__icon{
            font-size: 18px;    
        }
    }

    &-explore{
        text-align: center;
        padding: $padding;

        h1{
            padding: 0 60px;
        }

        p{
            @include light-p;
        }

        &__btn{
            background: linear-gradient(to top left, $color-primary, $color-secondary);
            color: white;
            border: hidden;
            padding: 15px 20px;
            font-size: 16px;
            font-family: "Roboto", "Arial", "Sans-serif";          
            cursor: pointer;
            @include border-shadow(30px);
            
        }

        
    }
    &-pres{
        background-color: white;
        margin: 40px 30px;

        &__element{
            display: flex;
            align-items: center;         
            position: relative;
            padding: 10px 0;
            font-family: "Roboto-medium", "Arial", "Sans-serif";
            font-size: 18px;
            background-color: $color-grey;
            @include border-shadow(20px);
            
            &--purple{
                background-color: lighten($color-primary, 35);
            }

            &__icon{
                margin: 0 30px 0 40px;
                width: 18px;
                color: darken($color-grey, 50);
                font-size: 20px;

                &--purple{
                    color: $color-primary;
                }
            }
        }
        
    }

    &-restaurant{
        padding: 15px 20px 50px;

        &-cards{
            @media screen and (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
                &>*{
                    flex: 1;
                }
            
            }
        }
    }
}