@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "base/standards.scss";

@import "components/components.scss";
@import "layouts/layouts.scss";


.container{
    background-color: $color-grey;

    &-loc{
        @include flex-center;
        padding: 15px;
        background-color: darken($color-grey, 5);
        color: darken($color-grey, 70);
        

        &__form{
            margin-left: 20px;
            border: hidden;
            background-color: darken($color-grey, 5);
            color: darken($color-grey, 70);
            font-weight: 600;
            font-size: 18px;
            width: 150px;
            &:focus{
                border: 2px solid $color-primary;
            }
            
            
            
        }        

        &__icon{
            font-size: 18px;    
        }
    }

    &-explore{
        text-align: center;
        padding: $padding;

        h1{
            padding: 0 60px;
        }

        p{
            @include light-p;
        }

        &__btn{
            @include btn;
            
        }

        
    }
    &-pres{
        background-color: white;
        margin: 40px 30px;

        h2{
            @media screen and (min-width:992px){
            text-align: center;
           
            }
        }
        

        &__block{
            @media screen and (min-width:992px){
            @include flex-center;
           
            }

        }

        &__element{
            display: flex;
            align-items: center;         
            position: relative;
            @include element($color-grey);

            @media screen and (min-width:992px){
                width: 33%;
                margin: 0 20px;
            }
            
            &--purple{
                background-color: lighten($color-primary, 35);
            }

            &__icon{
                margin: 0 30px 0 40px;
                width: 18px;
                color: darken($color-grey, 50);
                font-size: 20px;

                &--purple{
                    color: $color-primary;
                }
            }
        }
        
    }

    &-restaurant{
        padding: 15px 20px 50px;

        h2{
            @media screen and (min-width:992px){
                text-align: center;
            }
        }

        &-cards{
            @media screen and (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
                &>*{
                    flex: 1;
                }
            
            }
        }
    }
}

