@import "utils/_variables.scss";

body{
    margin: 0;
}

.header__logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    @media screen and (min-width: 768px){
        width: 25%;
    }
            
}

.container{
    background-color: $color-grey;
    &-explore{
        text-align: center;
    }
    &-pres{
        background-color: white;
    }
}