.number--rounded {
    background-color: $color-primary;
    border-radius: 100%;
    color: #ffffff;
    padding: 8px;
    width: 16px;
    height: 16px;
    text-align: center;
    position: absolute;
    left: -15px;
}

.new {
    width: 80px;
    height: 20px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40);
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    padding: 6px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
}




