@import "../utils/mixins";

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf),
        url(/fonts/Roboto-Black.ttf),
        url(/fonts/Roboto-BlackItalic.ttf),
        url(/fonts/Roboto-Bold.ttf),
        url(/fonts/Roboto-BoldItalic.ttf),
        url(/fonts/Roboto-Italic.ttf),
        url(/fonts/Roboto-Light.ttf),
        url(/fonts/Roboto-LightItalic.ttf),
        url(/fonts/Roboto-Medium.ttf),
        url(/fonts/Roboto-MediumItalic.ttf),
        url(/fonts/Roboto-Thin.ttf),
        url(/fonts/Roboto-ThinItalic.ttf);
    
}


@font-face {
    font-family: "Shrikhand";
    src: url(/fonts/Shrikhand-Regular.ttf);
}

body{
    margin: 0;
    font-family: "Roboto", "Arial", "Sans-serif" ;
    
    

}

main{
    
    @media screen and (min-width:992px){
       margin: 0 70px;

    }
}

h1, h2{
    @include title-bold;
}

h2{
    margin-bottom: 30px;
}

h3{
    @include title-bold(20px);
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
