@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Shrikhand";
    src: url(/fonts/Shrikhand-Regular.ttf);
}

body{
    margin: 0;
    font-family: "Roboto", "Arial", "Sans-serif" ;
}

