@mixin center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@mixin border-shadow($radius){
    border-radius: $radius;
    box-shadow: 1px 1px 10px darken($color-grey, 40);
    margin: 20px 0;
}