@import url(../utils/_mixins.scss);

footer{
    background-color: darken($color-grey, 80);
    padding: 10px 30px 30px;

    h2{
        font-family: "Shrikhand";
        color: #fff;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .footer__link{
        color:#fff;
        font-size: 18px;
        line-height: 2;
        
        }
    
    .footer__icon{
        color: #fff;
        width: 12px;
        height: 14px;
        margin-right: 20px;
    }
}