@import url(../utils/_mixins.scss);

footer{
    background-color: darken($color-grey, 80);
    padding: 10px 30px;

    a{
    color:#fff;
    font-size: 18px;
    line-height: 1.5;
    }

    h2{
        font-family: "Shrikhand";
        color: #fff;
        font-size: 22px;
    }
}